:root {
    color-scheme: light dark;
    

    --bg-color: #1F2937;
    --text-color: #D5D4D8;
    --border-color: #D5D4D8;

}



html {
    background-color: black;
}
body[data-theme="light"] {
    --bg-color: #D5D4D8;
    --text-color: #2F3E53;
    --border-color: #2F3E53;

}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: clamp(500px, 30vw, 600px);
    margin: 20px auto;
    padding: 20px 40px 30px;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-weight: bold;
    border-radius: 5px;
    border: solid 2px var(--border-color);
    
}

#theme-container {
    text-align: right;
}

#theme-select {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: solid 2px var(--border-color);
    border-radius: 5px;
}

h1 {
    margin-bottom: 8px;
    font-size: xx-large;
}

h3 {
    margin: 8px 0px 50px;
    font-weight: normal;
}

div {
    
    color: var(--text-color);
    background-color: var(--bg-color);
}

#hero {
    border-bottom: solid 2px #2F3E53;
    padding-bottom: 30px;
}

#password-container {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding-top: 20px;
    gap: 30px;

}
#password-generator {
    display:flex;
    justify-content: space-between;
    
}
#pass-options{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.options-row {
    padding: 2px 0px;
    display:flex;
    justify-content: space-between;
}

#length-slider {
    accent-color: #10B981;
}

p {
    background-color: #2F3E53;
    color: #10B981;
    border-radius: 5px;
    padding: 10px 40px;
    width: 15rem;
    height: 1.5rem;
    text-align: center;
}
span {
    color: #10B981;
}

button {
    background-color: #10B981;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    color: #D5D4D8;
    font-weight: bold;
    margin: auto 0;
    transition: transform 0.1s;
}
button:active {
    transform: translateY(2px) scale(0.98);
    transition: transform 0.1s;
    background-color: #0ea573;
}